* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

input {
  padding: 4px;
}

select {
  padding: 4px;
}

.trybewarts-login {
  display: flex;
  width: 320px;
  justify-content: space-between;
}

.trybewarts-login input {
  width: 120px;
  border-radius: 4px;
}

button {
  cursor: pointer;
  border-radius: 4px;
  width: 60px;
  padding: 4px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  border: solid 2px;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: space-around;
  background-color: rgba(167, 166, 166, 0.205);
  padding: 25px;
}

hr {
  margin: 0 20px;
}

#input-name , #input-lastname {
  width: 45%;
}

#input-email {
  width: 70%;
}

#evaluation-form div {
  margin-top: 20px;
}

#evaluation-form p {
  margin: 5px 20px;
}

.family {
  display: flex;
  flex-direction: column;
  width: 45%;
}

#textarea {
  width: 600px;
  resize: none;
  position: relative;
  padding: 5px;
}

#counter {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: 51%;
}

.container-sp-ar {
  display: flex;
  justify-content: space-between;
}

.container-sp-ev {
  display: flex;
  justify-content: space-evenly;
}

.container-cen {
  display: flex;
  justify-content: center;
}

#submit-btn {
  width: 300px;
  height: 30px;
  background-color: rgba(167, 166, 166, 0.438);
  margin-bottom: 20px;
}

footer {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* ! O código foi desenvolvido em call do Zoom onde Kleverson e Thiago desenvolveram
a lógica e como seria implementava no código, e o Thiago escrevia o código e fazia os
commits por ter criado a branch principal do PR */
